<footer>
  <div class="container">
      <div class="footer__container">
          <div class="footer__marca">
              <div class="fz__10">
                  Una iniciativa de
              </div>
              <div class="fz__26">
                  <a href="https://groway.studio">
                      Groway.Studio
                  </a>
              </div>
          </div>
          <div class="footer__envio-correo">
              <div class="fz__13">
                  ¿Quieres reportar un error en los datos?
              </div>
              <div class="fz__13">
                  Enviar un correo a: <a href="mailto:hello@groway.studio">hello@groway.studio</a><br>
                  O enviar su [Pull Request](<a href="https://github.com/Groway-Studio/pasarelas-de-pago.pe">https://github.com/Groway-Studio/pasarelas-de-pago.pe</a>)
              </div>
          </div>
      </div>
  </div>
</footer>