
<!-- incio del código mobile -->
<div class="menu-mbl d-none-mbl">
  <div class="container">
      <div class="cabecera">
          <div class="title">
              <h6>
                  Comparte este sitio:
              </h6>
          </div>
          <div class="redes">
              <div class="redes__sociales">
                  <div class="redes__item">
                      <img src="images/facebook.png" alt="">
                  </div>
                  <div class="redes__item">
                      <img src="images/twitter.png" alt="">
                  </div>
                  <div class="redes__item">
                      <img src="images/pinterest.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="d-none-mbl">
  {% for pasarela in site.data.pasarelas.payment_gateways %}
  <div class="container">
      <div class="marcas">
          <table>
              <body>
                  <tr> 
                      <td><img src="{{pasarela.logo}}" alt="{{pasarela.name}}"></td> 
                  </tr>
              </body>
          </table>
      </div>
      <div class="informe">
          <table>
              <tbody>
                  <tr class="d-flex-mbl">
                      <th>Comisión transaccional</th>
                      <td>
                          {% for fees in pasarela["transactional_feed"] %}
                          <div class="comision__texto">
                              <div class="comision__dias">
                                  {% for fee in fees %}
                                  <p> {{ fee[0] | capitalize }} </p>
                                  {% endfor %}
                              </div>
                              <div class="comision__porcentaje">
                                  {% for fee in fees %}
                                  <p> {{fee[1] | capitalize }} </p>
                                  {% endfor %}
                              </div> 
                          </div>
                          {% endfor %}
                      </td>  
                  </tr>
                  <tr class="d-flex-mbl">
                      <th>Monto mínimo</th>
                      <td class="fz__14 color__gray">
                          {% for amount in pasarela["min_amount"] %}
                          <p>{{amount}}</p>
                          {% endfor %}
                      </td>
                  </tr>
                  <tr class="registro d-flex-mbl">
                      <th>Modo de Registro</th>
                      <td class="fz__14 color__gray">
                          {% for rm in pasarela["record_mode"] %}
                          <p>{{rm}}</p>
                          {% endfor %}
                          <div class="condiciones">
                              {% for rmt in pasarela["record_mode_tip"] %}
                          <p>{{rmt}} </p>
                          {% endfor %}
                              {{mr.tip}} <br>
                          </div>
                          
                      </td>
                  </tr>
                  <tr class="tipo-cuentas fz__10 color__gray d-flex-mbl">
                      <th>Tipo de cuentas</th>
                      <td>
                          <div class="tipo-cuentas__item">
                              {% for tc in pasarela["account_types_supported"] %}
                              <p>{{ tc }}</p>
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr class="d-flex-mbl">
                      <th>Medios de Pago Soportados</th>
                      <td>
                          <div class="tag">
                              {% for pm in pasarela["payment_methods"] %}
                                  <div class="tag__item">
                                      <p>{{ pm }}</p>
                                  </div>
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr class="d-flex-mbl">
                      <th>SDKs</th>
                      <td>
                          <div class="tag__column">
                              {% for sdk in pasarela["SDKs"] %}
                              <div class="tag__item">
                                  <p>{{ sdk }}</p>
                              </div>
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr class="d-flex-mbl">
                      <th>Plugins</th>
                      <td>
                          <div class="tag__column"></div>
                              {% for plugin in pasarela["plugins"] %}
                                  <div class="tag__item">
                                      <p> {{ plugin }} </p>
                                  </div>
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr class="pagos">
                      <th>Pagos internacionales</th>
                      <td class="w-40"> 
                      {% if pasarela["international_cards"] == true %}
                          <img src="images/Check.png" alt="">
                      {% endif %}
                      {% if pasarela["international_cards"] == false %}
                          <img src="images/Cross.png" alt="">
                      {% endif %}
                      {% if pasarela["international_cards_manual"] == true %}
                          <div class="condiciones">
                              *Requiere activacion manual del servicio
                          </div>
                      {% endif %}
                      </td>
                  </tr>
                  <tr>
                      <th>Pagos en cuotas</th>
                      <td class="w-40">
                          {% if pasarela["installments_supported"] == true %}
                          <img src="images/Check.png" alt="">
                          {% endif %}
                          {% if pasarela["installments_supported"] == false %}
                              <img src="images/Cross.png" alt="">
                          {% endif %}
                      </td>
                  </tr>
                  <tr>
                      <th>Medios de pago offline</th>
                      <td class="w-40">
                          {% if pasarela["offline_payments_supported"] == true %}
                              <img src="images/Check.png" alt="">
                          {% endif %}
                          {% if pasarela["offline_payments_supported"] == false %}
                              <img src="images/Cross.png" alt="">
                          {% endif %}
                      </td>
                  </tr>
                  <tr class="suscripcion">
                      <th>Suscripciones</th>
                      <td class="w-40">
                          {% if pasarela["subscriptions_supported"] == true %}
                              <img src="images/Check.png" alt="">
                          {% endif %}
                          {% if pasarela["subscriptions_supported"] == false %}
                              <img src="images/Cross.png" alt="">
                          {% endif %}
                          {% if pasarela["subscriptions_supported_manual"] == true %}
                              <div class="condiciones">
                                  *Requiere activacion manual del servicio
                              </div>
                          {% endif %}
                      </td>
                  </tr>
                  <tr>
                      <th>E-Wallet</th>
                      <td class="w-40">
                          {% if pasarela["ewallet_supported"] == true %}
                              <img src="images/Check.png" alt="">
                          {% endif %}
                          {% if pasarela["ewallet_supported"] == false %}
                              <img src="images/Cross.png" alt="">
                          {% endif %}
                      </td>
                  </tr>
                  <tr>
                      <th>Cuentas multimoneda</th>
                      <td class="w-40">
                          {% if pasarela["multi_currency_supported"] == true %}
                              <img src="images/Check.png" alt="">
                          {% endif %}
                          {% if pasarela["multi_currency_supported"] == false %}
                              <img src="images/Cross.png" alt="">
                          {% endif %}
                      </td>
                  </tr>
                  <tr>
                      <th>Dinero en cuenta</th>
                      <td class="w-40">
                          {% if pasarela["money_account"] == true %}
                              <img src="images/Check.png" alt="">
                          {% endif %}
                          {% if pasarela["money_account"] == false %}
                              <img src="images/Cross.png" alt="">
                          {% endif %}
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  {% endfor %}
</section>
<!-- Fin del código mobile -->