html{
    height: auto;
    width: 100%;
}
body{
    height: 100%;
     width: 100%; 
 }
 *{
     box-sizing: border-box;
 }
 body{
     background-image: linear-gradient(
         45deg
         , #f66a66 4%, #f879a1 97%);
             background-size: cover;
             background-repeat: no-repeat;
             padding: 8px 85px 34px;
             margin: 0;
 }
 header{
     padding-top: 97px;
 }
 .cabecera{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 0 100px;
 }
 .redes__sociales{
     display: flex;
 }
 .redes__item img{
     width: 40px;
 }
 .title h2{
     color: #ffffff;
     font-size: 2rem;
     margin: 0px;
     font-family: 'Helvetica', 'Arial', sans-serif;
 }
 .container{
     width: 100%;
     max-width: 1272px;
     margin: auto;
 }
 .marcas{
     background-color: #ffffff;
     border-radius: 10px;
     padding: 27px 40px 20px;
     margin-bottom: 6px;
 }
 .informe{
     background-color: #ffffff;
     border-radius: 10px;
     padding: 72px 40px 42px;
     margin: 6px 0 14px;
     font-family: 'Helvetica', 'Arial', sans-serif;
 }
 .marcas td img{
     width: 85%;
 }
 .informe td img{
     width: 30px;
 }
 table{
     width: 100%;
 }
 table tr{
     border-bottom: 1px solid #AAAAAA;
 }
 table td{
     width: 140px;
     text-align: center;
 }
 table th + td{
     width: 160px;
     text-align: center;
 }
 .comision__texto{
     font-size: 11px;
     color: #707070;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .comision__dias{
     text-align: left;
     font-size: 8px;
     font-weight: bold;
 }
 .cobro__texto{
     font-size: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .cobro__dias{
     width: 60px;
     font-size: 8px;
     color: #707070;
     font-weight: bold;
     margin-right: 10px;
 }
 .cobro__porcentaje{
     text-align: center;
     font-size: 11px;
     color: #707070;
 }
 .tag, .tag__column{
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     flex-wrap: wrap;
     margin: 5px 0;
 }
 .tag__item{
     flex: 0 35%;
     width: 50%;
     display: flex;
     justify-content: center;
 }
 .tag__column .tag__item{
     flex: 1 0 auto;  
     display: flex;
     justify-content: center;
 }
 .tag__item p{
     background-color: #9a9a9a;
     color: #ffffff;
     border-radius: 12px;
     margin: 3px 0;
     font-size: 14px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1px 15px;
     float: left;
     height: 18px;
     font-size: 9px;
 }
 .informe table { 
     border-collapse: collapse; 
 }
 table tbody tr th{
     text-align: left;
     font-size: 14px;
     font-weight: 500;
     color: #707070;
     width: 185px;
 } 
 .informe td {
     border-bottom: #BABABA 1px solid;
     border-collapse: collapse;
     height: 40px;
     position: relative;
   }
 .tag__column .tag__item p{
     padding: 5px 10px;
 }
 .tipo-cuentas__item{
     display: flex;
     justify-content: left;
     flex-direction: column;
     width: 50%;
     margin: auto;
 }
 .porcentaje__condiciones{
     margin: 0 4px;
 }
 .condiciones{
     font-size: 8px;
     margin: 3px 0 15px;
     position: absolute;
     left: 0;
     right: 0;
     color: #707070;
 }
 .registro td{
     padding: 20px 0 40px;
 }
 .pagos td, .suscripcion td{
     padding: 25px 0px 20px;
 }
 .tipo-cuentas td p{
     text-align: left;
     margin:0px;
 }
 .footer__container{
     padding: 25px 35px;
     display: flex;
     justify-content: space-between;
     background-color: #393939;
     border-radius: 10px;
     color: #ffff;
     min-height: 163px;
     align-items: center;
 }
 .fz__10{
     font-size: 10px;
 }
 .fz__11{
     font-size: 11px;
 }
 .fz__13{
     font-size: 13px;
 }
 .fz__14{
     font-size: 14px;
 }
 .fz__26{
     font-size: 26px;
 }
 .color__gray{
     color: #707070;
 }
 footer{
     margin-bottom: 34px;
     font-family: 'Helvetica', 'Arial', sans-serif;
 }
 .footer__marca div:first-child, .footer__envio-correo div:first-child{
     margin-bottom: 15px;
 }
 .footer__envio-correo div:first-child{
     font-weight: bold;
 }
 * {
     box-sizing: border-box;
 }
 div {
     display: block;
 }
 .d-none-mbl{
     display: none;
 }
 @media screen and (max-width: 1330px){
     .tag__column .tag__item p {
         padding: 5px 12px;
     }
     .tag__item p {
         padding: 1px 12px;
     }
     .tag__item {
         flex: 0 37%;
     }
     .tag__item {
         flex: 0 45%;
     }
     .comision__texto {
         font-size: 12px;
     }
     .cobro__porcentaje {
         font-size: 8px;
     }
     .fz__11 {
         font-size: 9px;
     }
     .tag__column .tag__item p {
        padding: 5px 5px;
        font-size: 8px;
    }
 }
 @media screen and (max-width: 1080px){
     .tag__column .tag__item p {
         padding: 5px 12px; 
     }
     .plugin .tag__column .tag__item p {
        padding: 5px 5px; 
    }
     .pagos td, .suscripcion td{
         padding: 25px 0px 30px;
     }
     .comision__porcentaje{
        font-size: 8px;
     }
 }
 @media screen and (max-width: 1008px){
     .tag__item p {
         padding: 1px 8px;
     }
     body {
         padding: 8px 25px 34px;
     }
 
 }
 @media screen and (max-width: 800px){
     .title h2 {
         color: #ffffff;
         font-size: 1.3rem;
     }
     .d-none-desk{
         display: none;
     }
     .d-none-mbl{
         display: block;
     }
     .cabecera {
         justify-content: center;
         margin: 0 0 39px;
     }
     header {
         padding-top: 52px;
     }
     .informe {
         background-color: #ffffff;
         border-radius: 10px;
         padding: 33px 31px 42px;
      }
     .d-flex-mbl{
         display: flex;
         flex-direction: column;
         padding-top: 10px;
     }
     .informe table tbody{
         display: flex;
         justify-content: center;
         flex-direction: column;
     }
     .informe td {
         border-bottom: none;
         height: inherit;
         min-height: 40px;
     }
     table tbody tr th{
         color: #191919;
         margin-bottom: 5px;
     } 
     table th + td {
         text-align: left;
         width: 100%;
     }
     .comision__dias {
         text-align: left;
         font-size: 11px;
     }
     .registro td {
         padding: 15px 0 12px;
         font-size: 12px;
     }
     .tipo-cuentas__item {
         margin: 5px 0 0;
         font-size: 12px;
     }
     .tag__item {
         flex: 0 12%;
         justify-content: left;
     } 
     .tag__item p {
         padding: 0px 15px;
     }
     .tag__column .tag__item p {
         padding: 5px 18px;
     }
     .tag{
         height: 100%;
         justify-content: left;
     }
     .comision__texto p{
         margin: 2px;
     }
     .w-40{
         width: 30%;
         text-align: center;
     }
     .informe td.w-40 {
         border-bottom: none;
         height: 50px;
     }
     .tag__column {
         width: 40%;
     }
     .tag__column .tag__item {
         justify-content: left;
     }
     .informe tr td, .informe tr th{
         padding-left: 10px;
     }
     .menu-mbl{
         position: fixed;
         width: 100%;
         left: 0;
         padding: 0 17px 0 21px;
         box-shadow: 0 -5px 6px 0 rgba(0, 0, 0, 0.16);
         background-color: #393939;
         right: 0;
         bottom: 0;
         height: 60px;
     }
     .menu-mbl .cabecera {
         justify-content: space-between;
         padding: 0 5px;
     }
     .menu-mbl .title h6{
         color: #ffffff;
         font-family: 'Helvetica', 'Arial', sans-serif;
     }
     table tbody tr th {
         width: 200px;
     }
     .redes__item img {
        width: 60px;
     }
 }
 @media screen and (max-width: 415px){
     .tag__item {
         flex: 0 30%;
         justify-content: left;
     } 
     .tag, .tag__column {
         display: flex;
         justify-content: left;
     }
     .tag__column .tag__item {
         flex: 1 0 auto;
         width: 25.3%;
     }
     .tag__column {
         width: 100%;
     }
     .footer__container {
        justify-content: left;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__marca{
        margin-bottom: 15px;
    }
 }