---
layout: default
---

<header>
    <div class="container">
        <div class="cabecera">
            <div class="title">
                <h2>
                    PasarelasDePago.pe
                </h2>
            </div>
            <!-- Facebook -->
            <div class="redes d-none-desk">
                <div class="redes__sociales">
                    <div class="redes__item">
                        <a href="http://www.facebook.com/sharer.php?u=https://pasarelasdepago.pe/" target="_blank">
                            <img src="images/Facebook.svg" alt="Facebook" />
                        </a>
                    </div>
                    
                    <div class="redes__item">
                        <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                            <img src="images/Twitter.svg" alt="Twitter" />
                        </a>
                    </div>
                    <div class="redes__item">
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://pasarelasdepago.pe/" target="_blank">
                            <img src="images/Whatsapp.svg" alt="Whatsapp" />
                        </a>
                    </div>
                    <div class="redes__item">
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://pasarelasdepago.pe/" target="_blank">
                            <img src="images/Linkedin.svg" alt="LinkedIn" />
                        </a>
                    </div>
                    <div class="redes__item">
                        <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                            <img src="images/Pinterest.svg" alt="Pinterest" />
                        </a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</header>

<section class="d-none-desk">
    <div class="container">
        <div class="marcas">
            <table>
                <body>
                    <tr>
                        <th></th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td><img src="{{ pasarela.logo }}" alt="{{ pasarela.name }}"></td>
                        {% endfor %}
                    </tr>
                </body>
            </table>
        </div>
        <div class="informe">
            <table>
                <tbody>
                    <tr>
                        <th>Comisión transaccional</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                <div class="comision__texto">
                                    <div class="comision__dias">
                                        {% for fees in pasarela["transactional_feed"] %}
                                            {% for fee in fees %}
                                                <p> {{ fee[0] | capitalize }} </p>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="comision__porcentaje">
                                        {% for fees in pasarela["transactional_feed"] %}
                                            {% for fee in fees %}
                                                <p> {{fee[1] | capitalize }} </p>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <th>Monto mínimo</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                        <td class="fz__14 color__gray">
                            {% for amount in pasarela["min_amount"] %}
                            {{amount}} 
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr class="registro">
                        <th>Modo de Registro</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                        <td class="fz__14 color__gray">
                            {% for rm in pasarela["record_mode"] %}
                            {{rm}} 
                            {% endfor %}
                            <div class="condiciones">
                                {% for rmt in pasarela["record_mode_tip"] %}
                            {{rmt}} 
                            {% endfor %}
                                {{mr.tip}} <br>
                            </div>   
                        </td>
                        {% endfor %}
                    </tr>

                    <tr class="tipo-cuentas fz__10 color__gray">
                        <th>Tipo de cuentas</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                <div class="tipo-cuentas__item">
                                    {% for account_type in pasarela["account_types_supported"] %}
                                        <p> {{ account_type }} </p>
                                    {% endfor %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Medios de Pago Soportados</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                <div class="tag">
                                    {% for payment_method in pasarela["payment_methods"] %}
                                        <div class="tag__item">
                                            <p> {{ payment_method }} </p>
                                        </div> 
                                    {% endfor %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>SDKs</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                <div class="tag__column">
                                    {% for sdk in pasarela["SDKs"] %}
                                        <div class="tag__item">
                                            <p> {{ sdk }} </p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr class="plugin">
                        <th>Plugins</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                <div class="tag__column">
                                    {% for plugin in pasarela["plugins"] %}
                                        <div class="tag__item">
                                            <p> {{ plugin }} </p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr class="pagos">
                        <th>Pagos internacionales</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                {% if pasarela["international_cards"] == true %}
                                    <img src="images/check-verde.png" alt="">
                                {% endif %}
                                {% if pasarela["international_cards"] == false %}
                                    <img src="images/check-rojo.png" alt="">
                                {% endif %}
                                {% if pasarela["international_cards_manual"] == true %}
                                    <div class="condiciones">
                                        *Requiere actuaización del servicio
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Pagos en cuotas</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                {% if pasarela["installments_supported"] == true %}
                                    <img src="images/check-verde.png" alt="">
                                {% endif %}
                                {% if pasarela["installments_supported"] == false %}
                                    <img src="images/check-rojo.png" alt="">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Medios de pago offline</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                {% if pasarela["offline_payments_supported"] == true %}
                                    <img src="images/check-verde.png" alt="">
                                {% endif %}
                                {% if pasarela["offline_payments_supported"] == false %}
                                    <img src="images/check-rojo.png" alt="">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr class="suscripcion">
                        <th>Suscripciones</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                {% if pasarela["subscriptions_supported"] == true %}
                                    <img src="images/check-verde.png" alt="">
                                {% endif %}
                                {% if pasarela["subscriptions_supported"] == false %}
                                    <img src="images/check-rojo.png" alt="">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>E-Wallet</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                {% if pasarela["ewallet_supported"] == true %}
                                    <img src="images/check-verde.png" alt="">
                                {% endif %}
                                {% if pasarela["ewallet_supported"] == false %}
                                    <img src="images/check-rojo.png" alt="">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Cuentas multimoneda</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td>
                                {% if pasarela["multi_currency_supported"] == true %}
                                    <img src="images/check-verde.png" alt="">
                                {% endif %}
                                {% if pasarela["multi_currency_supported"] == false %}
                                    <img src="images/check-rojo.png" alt="">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Dinero en cuenta</th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td class="w-40">
                                {% if pasarela["money_account"] == true %}
                                    <img src="images/check-verde.png" alt="">
                                {% endif %}
                                {% if pasarela["money_account"] == false %}
                                    <img src="images/check-rojo.png" alt="">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<!-- incio del código mobile -->
<div class="menu-mbl d-none-mbl">
    <div class="container">
        <div class="cabecera">
            <div class="title">
                <h6>
                    Comparte este sitio:
                </h6>
            </div>
            <div class="redes">
                <div class="redes__sociales">
                    <div class="redes__item">
                        <img src="images/facebook.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/twitter.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/pinterest.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="d-none-mbl">
    {% for pasarela in site.data.pasarelas.payment_gateways %}
    <div class="container">
        <div class="marcas">
            <table>
                <body>
                    <tr> 
                        <td><img src="{{pasarela.logo}}" alt="{{pasarela.name}}"></td> 
                    </tr>
                </body>
            </table>
        </div>
        <div class="informe">
            <table>
                <tbody>
                    <tr class="d-flex-mbl">
                        <th>Comisión transaccional</th>
                        <td>
                            {% for fees in pasarela["transactional_feed"] %}
                            <div class="comision__texto">
                                <div class="comision__dias">
                                    {% for fee in fees %}
                                    <p> {{ fee[0] | capitalize }} </p>
                                    {% endfor %}
                                </div>
                                <div class="comision__porcentaje">
                                    {% for fee in fees %}
                                    <p> {{fee[1] | capitalize }} </p>
                                    {% endfor %}
                                </div> 
                            </div>
                            {% endfor %}
                        </td>  
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>Monto mínimo</th>
                        <td class="fz__14 color__gray">
                            {% for amount in pasarela["min_amount"] %}
                            <p>{{amount}}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="registro d-flex-mbl">
                        <th>Modo de Registro</th>
                        <td class="fz__14 color__gray">
                            {% for rm in pasarela["record_mode"] %}
                            <p>{{rm}}</p>
                            {% endfor %}
                            <div class="condiciones">
                                {% for rmt in pasarela["record_mode_tip"] %}
                            <p>{{rmt}} </p>
                            {% endfor %}
                                {{mr.tip}} <br>
                            </div>
                            
                        </td>
                    </tr>
                    <tr class="tipo-cuentas fz__10 color__gray d-flex-mbl">
                        <th>Tipo de cuentas</th>
                        <td>
                            <div class="tipo-cuentas__item">
                                {% for tc in pasarela["account_types_supported"] %}
                                <p>{{ tc }}</p>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>Medios de Pago Soportados</th>
                        <td>
                            <div class="tag">
                                {% for pm in pasarela["payment_methods"] %}
                                    <div class="tag__item">
                                        <p>{{ pm }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>SDKs</th>
                        <td>
                            <div class="tag__column">
                                {% for sdk in pasarela["SDKs"] %}
                                <div class="tag__item">
                                    <p>{{ sdk }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>Plugins</th>
                        <td>
                            <div class="tag__column"></div>
                                {% for plugin in pasarela["plugins"] %}
                                    <div class="tag__item">
                                        <p> {{ plugin }} </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="pagos">
                        <th>Pagos internacionales</th>
                        <td class="w-40"> 
                        {% if pasarela["international_cards"] == true %}
                            <img src="images/check-verde.png" alt="">
                        {% endif %}
                        {% if pasarela["international_cards"] == false %}
                            <img src="images/check-rojo.png" alt="">
                        {% endif %}
                        {% if pasarela["international_cards_manual"] == true %}
                            <div class="condiciones">
                                *Requiere actuaización del servicio
                            </div>
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Pagos en cuotas</th>
                        <td class="w-40">
                            {% if pasarela["installments_supported"] == true %}
                            <img src="images/check-verde.png" alt="">
                            {% endif %}
                            {% if pasarela["installments_supported"] == false %}
                                <img src="images/check-rojo.png" alt="">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Medios de pago offline</th>
                        <td class="w-40">
                            {% if pasarela["offline_payments_supported"] == true %}
                                <img src="images/check-verde.png" alt="">
                            {% endif %}
                            {% if pasarela["offline_payments_supported"] == false %}
                                <img src="images/check-rojo.png" alt="">
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="suscripcion">
                        <th>Suscripciones</th>
                        <td class="w-40">
                            {% if pasarela["subscriptions_supported"] == true %}
                                <img src="images/check-verde.png" alt="">
                            {% endif %}
                            {% if pasarela["subscriptions_supported"] == false %}
                                <img src="images/check-rojo.png" alt="">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>E-Wallet</th>
                        <td class="w-40">
                            {% if pasarela["ewallet_supported"] == true %}
                                <img src="images/check-verde.png" alt="">
                            {% endif %}
                            {% if pasarela["ewallet_supported"] == false %}
                                <img src="images/check-rojo.png" alt="">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Cuentas multimoneda</th>
                        <td class="w-40">
                            {% if pasarela["multi_currency_supported"] == true %}
                                <img src="images/check-verde.png" alt="">
                            {% endif %}
                            {% if pasarela["multi_currency_supported"] == false %}
                                <img src="images/check-rojo.png" alt="">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Dinero en cuenta</th>
                        <td class="w-40">
                            {% if pasarela["money_account"] == true %}
                                <img src="images/check-verde.png" alt="">
                            {% endif %}
                            {% if pasarela["money_account"] == false %}
                                <img src="images/check-rojo.png" alt="">
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</section>
<!-- Fin del código mobile -->

<footer>
    <div class="container">
        <div class="footer__container">
            <div class="footer__marca">
                <div class="fz__10">
                    Una iniciativa de
                </div>
                <div class="fz__26">
                    <a href="https://groway.studio">
                        Groway.Studio
                    </a>
                </div>
            </div>
            <div class="footer__envio-correo">
                <div class="fz__13">
                    ¿Quieres reportar un error en los datos?
                </div>
                <div class="fz__13">
                    Enviar un correo a: <a href="mailto:hello@groway.studio">hello@groway.studio</a><br>
                    O enviar su [Pull Request](<a href="https://github.com/Groway-Studio/pasarelas-de-pago.pe">https://github.com/Groway-Studio/pasarelas-de-pago.pe</a>)
                </div>
            </div>
        </div>
    </div>
</footer>
