---
layout: default
---

<header>
    <div class="container">
        <div class="cabecera">
            <div class="title">
                <h2>
                    PasarelaDePago.pe
                </h2>
            </div>
            <!-- <div class="redes d-none-desk">
                <div class="redes__sociales">
                    <div class="redes__item">
                        <img src="images/facebook.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/twitter.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/pinterest.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/fa1f5b2e196350cecadd3ab070cf41d3.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/pinterest.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/fa1f5b2e196350cecadd3ab070cf41d3.png" alt="">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</header>

<section class="d-none-desk">
    <div class="container">
        <div class="marcas">
            <table>
                <body>
                    <tr>
                        <th></th>
                        {% for pasarela in site.data.pasarelas.payment_gateways %}
                            <td><img src="{{ pasarela.logo }}" alt="{{ pasarela.name }}"></td>
                        {% endfor %}
                    </tr>
                </body>
            </table>
        </div>
        <div class="informe">
            <table>
                <tbody>
                    <tr>
                        <th>Comisión transaccional</th>
                        <td>
                            <div class="comision__texto">
                                <div class="comision__dias">
                                    <p>
                                        INMEDIATO
                                    </p>
                                    <p>
                                        14 DÍAS
                                    </p>
                                </div>
                                <div class="comision__porcentaje">
                                    <p>
                                        3,30% + S/. 1.00 + IGV
                                    </p>
                                    <p>
                                        3,30% + S/. 1.00 + IGV
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="cobro__texto">
                                <div class="cobro__dias">
                                    <p>
                                        COBRO CON LINK
                                    </p>
                                </div>
                                <div class="cobro__porcentaje">
                                    <p>
                                        3,30% + IGV
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fz__11 color__gray">
                                3,30% + S/. 1.00 + IGV
                            </p>
                        </td>
                        <td>
                            <p class="fz__11 color__gray">
                                3,30% + S/. 1.00 + IGV
                            </p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Monto mínimo</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="registro">
                        <th>Modo de Registro</th>
                        <td class="fz__14 color__gray">100% Online</td>
                        <td>
                            <p class="porcentaje__condiciones fz__14 color__gray">100% Online</p>
                            <div class="condiciones">
                                *Recuerde envío de <br>
                                descuento del negocio
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tipo-cuentas fz__10 color__gray">
                        <th>Tipo de cuentas</th>
                        <td>
                            <div class="tipo-cuentas__item">
                                <p>Personales</p>
                                <p>Empresariales</p>
                            </div>
                        </td>
                        <td>Empresariales</td>
                        <td>Empresariales</td>
                        <td>
                            <div class="tipo-cuentas__item">
                                <p>Personales</p>
                                <p>Empresariales</p>
                            </div>
                        </td>
                        <td>Empresariales</td>
                    </tr>
                    <tr>
                        <th>Tiempo de retiro</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Medios de Pago Soportados</th>
                        <td>
                            <div class="tag">
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td>
                            <div class="tag">
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="tag">
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="tag">
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>SDKs</th>
                        <td>
                            <div class="tag__column">
                                <div class="tag__item">
                                    <p>PHP</p>
                                </div>
                                <div class="tag__item">
                                    <p>JAVA</p>
                                </div>
                                <div class="tag__item">
                                    <p>.NET</p>
                                </div>
                                <div class="tag__item">
                                    <p>Ruby</p>
                                </div>
                                <div class="tag__item">
                                    <p>NodeJS</p>
                                </div>
                                <div class="tag__item">
                                    <p>Python</p>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td>
                            <div class="tag">
                                <div class="tag__item">
                                    <p>PHP</p>
                                </div>
                                <div class="tag__item">
                                    <p>JAVA</p>
                                </div>
                                <div class="tag__item">
                                    <p>.NET</p>
                                </div>
                                <div class="tag__item">
                                    <p>Python</p>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Plugins</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="pagos">
                        <th>Pagos internacionales</th>
                        <td></td>
                        <td></td>
                        <td><img src="images/check-verde.png" alt="">
                            <div class="condiciones">
                                *Requiere actuaización del servicio
                            </div>
                        </td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                    </tr>
                    <tr>
                        <th>Pagos en cuotas</th>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Medios de pago offline</th>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="suscripcion">
                        <th>Suscripciones</th>
                        <td></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td><img src="images/check-verde.png" alt="">
                            <div class="condiciones">
                                *Requiere actuaización del servicio
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>E-Wallet</th>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td></td>
                        <td></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Cuentas multimoneda</th>
                        <td></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Dinero en cuenta</th>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td></td>
                        <td></td>
                        <td><img src="images/check-verde.png" alt=""></td>
                        <td></td>
                    </tr>
</tbody>
            </table>
        </div>
    </div>
</section>

<section class="d-none-mbl">
    {% for pg in site.data.pasarelas.payment_gateways %}
    <div class="container">
        <div class="marcas">
            <table>

                <body>
                    <tr> 
                        <td><img src="{pg.logo}" alt="{pg.name}"></td> 
                    </tr>
                </body>
            </table>
        </div>
        <div class="informe">
            <table>
                <tbody>
                    <tr class="d-flex-mbl">
                        <th>Comisión transaccional</th>
                        <td>
                            <div class="comision__texto">
                                <div class="comision__dias">
                                    <p>
                                        INMEDIATO
                                    </p>
                                    <p>
                                        14 DÍAS
                                    </p>
                                </div>
                                <div class="comision__porcentaje">
                                    <p>
                                        3,30% + S/. 1.00 + IGV
                                    </p>
                                    <p>
                                        3,30% + S/. 1.00 + IGV
                                    </p>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>Monto mínimo</th>
                        <td></td>
                    </tr>
                    <tr class="registro d-flex-mbl">
                        <th>Modo de Registro</th>
                        <td class="fz__14 color__gray">100% Online</td>
                    </tr>
                    <tr class="tipo-cuentas fz__10 color__gray d-flex-mbl">
                        <th>Tipo de cuentas</th>
                        <td>
                            <div class="tipo-cuentas__item">
                                <p>Personales</p>
                                <p>Empresariales</p>
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>Tiempo de retiro</th>
                        <td></td>
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>Medios de Pago Soportados</th>
                        <td>
                            <div class="tag">
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                                <div class="tag__item">
                                    <p>Credito</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>SDKs</th>
                        <td>
                            <div class="tag__column">
                                <div class="tag__item">
                                    <p>PHP</p>
                                </div>
                                <div class="tag__item">
                                    <p>JAVA</p>
                                </div>
                                <div class="tag__item">
                                    <p>.NET</p>
                                </div>
                                <div class="tag__item">
                                    <p>Ruby</p>
                                </div>
                                <div class="tag__item">
                                    <p>NodeJS</p>
                                </div>
                                <div class="tag__item">
                                    <p>Python</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex-mbl">
                        <th>Plugins</th>
                        <td></td>
                    </tr>
                    <tr class="pagos">
                        <th>Pagos internacionales</th>
                        <td class="w-40"></td>
                    </tr>
                    <tr>
                        <th>Pagos en cuotas</th>
                        <td class="w-40"><img src="images/check-verde.png" alt=""></td>
                    </tr>
                    <tr>
                        <th>Medios de pago offline</th>
                        <td class="w-40"><img src="images/check-verde.png" alt=""></td>
                    </tr>
                    <tr class="suscripcion">
                        <th>Suscripciones</th>
                        <td class="w-40"></td>
                    </tr>
                    <tr>
                        <th>E-Wallet</th>
                        <td class="w-40"><img src="images/check-verde.png" alt=""></td>
                    </tr>
                    <tr>
                        <th>Cuentas multimoneda</th>
                        <td class="w-40"></td>
                    </tr>
                    <tr>
                        <th>Dinero en cuenta</th>
                        <td class="w-40"><img src="images/check-verde.png" alt=""></td>
                    </tr>
</tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</section>

<div class="menu-mbl d-none-mbl">
    <div class="container">
        <div class="cabecera">
            <div class="title">
                <h6>
                    Comparte este sitio:
                </h6>
            </div>
            <div class="redes">
                <div class="redes__sociales">
                    <div class="redes__item">
                        <img src="images/facebook.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/twitter.png" alt="">
                    </div>
                    <div class="redes__item">
                        <img src="images/pinterest.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="footer__container">
            <div class="footer__marca">
                <div class="fz__10">
                    Una iniciativa de
                </div>
                <div class="fz__26">
                    Groway.Studio
                </div>
            </div>
            <div class="footer__envio-correo">
                <div class="fz__13">
                    ¿Quieres reportar un error en los datos?
                </div>
                <div class="fz__13">
                    Enviar un correo a: <br>
                    O enviar su Full Request en
                </div>
            </div>
        </div>
    </div>
</footer>
